---
layout: home
title: My Journey
type: tag
---


Hi! I am Karthik Sundar. Welcome to my website!!
If you want to get to know me or talk to me, you are always welcome to DM me on instagram,or
 you can send me a mail, I read all my mails every sunday and I am sure to reply each
and every one of them

Hi! I am Karthik Sundar. Welcome to my website!!
If you want to get to know me or talk to me, you are always welcome to DM me on instagram,or
 you can send me a mail, I read all my mails every sunday and I am sure to reply each
and every one of them

Hi! I am Karthik Sundar. Welcome to my website!!
If you want to get to know me or talk to me, you are always welcome to DM me on instagram,or
 you can send me a mail, I read all my mails every sunday and I am sure to reply each
and every one of them

Hi! I am Karthik Sundar. Welcome to my website!!
If you want to get to know me or talk to me, you are always welcome to DM me on instagram,or
 you can send me a mail, I read all my mails every sunday and I am sure to reply each
and every one of them

Hi! I am Karthik Sundar. Welcome to my website!!
If you want to get to know me or talk to me, you are always welcome to DM me on instagram,or
 you can send me a mail, I read all my mails every sunday and I am sure to reply each
and every one of them

<div class="categories">

{%for cat in site.categories %}
  {%  assign maxPosts = 4 %}
  {%  assign maxPostsCounter = 0 %}

  <a href= "/pages/{{cat[0]}}"><h5>{{cat[0]}}</h5></a>
  <div class= "card-deck">
  <div class="row">
  {% for posts in cat[1] %}

    {% assign images = posts.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src=' %}
        {% assign imageCode = image | split: "/>" | first %}

        {% break %}
      {% endif %}
    {% endfor %}
    {% if maxPostsCounter < maxPosts %}

        <div class="col-sm-3">
      <div class="card">
      <div class="card-body">
      <a href = {{posts.url}}><img class ="card-img-top"{{imageCode}} >

      <a href={{posts.url}} class="btn btn-white stretched-link">{{posts.title}}</a>
      {% assign maxPostsCounter = maxPostsCounter | plus: 1 %}


      </div>
      </div>
      </div>
    {% endif %}

  {%endfor%}
  </div>
  </div>
{%endfor%}

</div>