---
layout: default
title: Home
---

<div>
  <h2 class="grand-title">Welcome to my blog</h2>
  <hr>
  <p>
  I am happy that you are here. Here, I share my journey through coding, computers and etc.
  I will link to all the resources I stumble upon and you can also find all my projects in my Github profile.
  </p>
  <hr>
</div>
Excited to say about the Upcoming Series: <b>Under the Hood</b>. To learn more about the series,check the homepage of the series.
<h3>Recent Posts</h3>
{% assign maxRecentPosts = 3 %}
{% assign maxCounter = 0 %}

<div class="card-deck-d-flex">
  <div class="row">
    {% for posts in site.posts %}
      {% if posts.title != "Introduction" %}
          {% assign images = posts.content | split:"<img " %}
          {% for image in images %}
            {% if image contains 'src=' %}
              {% assign imageCode = image | split: "/>" | first %}
              {% break %}
            {% endif %}
          {% endfor %}
          <div class="col-sm-4" style="padding-bottom: 0.5rem ;">
            <div class="card mr-3 text-center">
              <a href={{posts.url}}><img class="card-img-top" {{imageCode}}>
              <div class="card-body" style="padding: 0.5rem ;">
                <a href={{posts.url}} class="btn stretched-link card-title">{{posts.title}}</a>
              </div>
            </div>
          </div>
          {% assign maxCounter = maxCounter | plus: 1 %}
          {% if maxCounter == maxRecentPosts %}
            {% break %}
          {% endif %}
        {% endif %}
    {% endfor %}
 </div>
  </div>