<header background>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Endless Experiments</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>

        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="/blogindex.html" id="navbarDropdown" role="button">
            My Experiments
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu">

            <a class="dropdown-item" href="/blogindex">Introduction</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pages/Health">Health</a>
            <a class="dropdown-item" href="/pages/Style">Style</a>
            <a class="dropdown-item" href="/pages/Finance">Finance</a>
            <a class="dropdown-item" href="/pages/Productivity">Productivity</a>
            <a class="dropdown-item" href="/pages/Skillset">Skillset</a>
            <a class="dropdown-item" href="/pages/SocialSkills">Social Skills</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Want Something Specific?</a>
        </li>
      </ul>


    </div>
  </nav>

</header>