---
layout: page
title: Posts
---


{%for cat in site.categories %}
{%  if cat[0] == "Resources" %}
  <h3>Resources</h3>
  <hr>
  <div class= "card-deck-d-flex">
  <div class="row " >
  {% for posts in cat[1] %}

    {% assign images = posts.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src=' %}
        {% assign imageCode = image | split: "/>" | first %}

        {% break %}
      {% endif %}
    {% endfor %}

        <div class="col-lg-4" style="padding-bottom: 0.5rem ;">
      <div class="card mr-3  text-center">
        <a href = {{posts.url}}><img class ="card-img-top"{{imageCode}}  alt="Card image cap" >
      <div class="card-body" style="padding: 0.5rem ;">


      <a href={{posts.url}} class="btn btn-white stretched-link">{{posts.title}}</a>
      </div>
      </div>
      </div>

  {%endfor%}
  </div>
  </div>
{% endif %}
{%  if cat[0] == "Projects" %}
  <h3>Projects</h3>
  <hr>
  <div class= "card-deck-d-flex">
  <div class="row " >
  {% for posts in cat[1] %}

    {% assign images = posts.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src=' %}
        {% assign imageCode = image | split: "/>" | first %}

        {% break %}
      {% endif %}
    {% endfor %}

        <div class="col-lg-4" style="padding-bottom: 0.5rem ;">
      <div class="card mr-3  text-center">
        <a href = {{posts.url}}><img class ="card-img-top"{{imageCode}}  alt="Card image cap" >
      <div class="card-body" style="padding: 0.5rem ;">


      <a href={{posts.url}} class="btn btn-white stretched-link">{{posts.title}}</a>
      </div>
      </div>
      </div>

  {%endfor%}
  </div>
  </div>
{% endif %}
{%endfor%}