---
layout: home
title: Productivity
---
{%for cat in site.categories %}
{%  if cat[0] == "Productivity" %}

  <div class= "card-group">
  <div class="row " >
  {% for posts in cat[1] %}

    {% assign images = posts.content | split:"<img " %}
    {% for image in images %}
      {% if image contains 'src=' %}
        {% assign imageCode = image | split: "/>" | first %}

        {% break %}
      {% endif %}
    {% endfor %}

        <div class="col-sm-3" style="padding-bottom: 0.5rem ;">
      <div class="card mr-3 text-center">
        <a href = {{posts.url}}><img class ="card-img-top"{{imageCode}}  alt="Card image cap" >
      <div class="card-body" style="padding: 0.5rem ;">


      <a href={{posts.url}} class="btn btn-white stretched-link">{{posts.title}}</a>
      </div>
      </div>
      </div>

  {%endfor%}
  </div>
  </div>
{% endif %}
{%endfor%}