@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Patrick+Hand&display=swap');

.App-text.about {
    max-width: 80vw;
    margin: 12px auto;
    color: rgb(223, 223,223);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .about-text__title {
    text-align: center;
    font-size: 2.25vmax;
    font-family: "Patrick Hand";

  }
  .about-text__title-big {
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Josefin Slab", sans-serif;
    background-image: linear-gradient(#fc7e8d, #a8a9e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .about-text__body{
    font-family: "Patrick Hand";
    margin: 24px 0px;
    text-align: center;
    font-size: 1.75vmax;
  }
  
  .about-social {
    text-align: center;
  }
  .about-social__title {
    margin-bottom: 0.6em;
    letter-spacing: 0.1em;
    font-family: "Patrick Hand";

    font-size: 1vmax;
  }

  .about-social__link {
    background-image: linear-gradient(#fc7e8d, #a8a9e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Josefin Slab", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vmax;

  }
  .about-social__link:after {
    content: "-";

    margin: 0 0.5em;
  }
