@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Patrick+Hand&display=swap');

.art-carousel{
    font-family: "Patrick Hand";
    font-size: 1vmax;
}

h1 {
    font-family: "Josefin Slab";
    font-size: 2vmax;
    background-image: linear-gradient(#fc7e8d, #a8a9e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a {
    font-family: "Josefin Slab";
    font-size: 2vmax;
    background-image: linear-gradient(#fc7e8d, #a8a9e7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}