---
layout: default
comments: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
        </span>
      {%- endif -%}
    </p>
  </header>
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}

    {% for category in categories %}
      <u>
        Category:</u>
      <em>{{category}}</em>
      {% unless forloop.last %}&nbsp;
      {% endunless %}
    {% endfor %}
  </div>
   <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
<div>
  {% assign maxRelatedPosts = 4 %}
  {% assign minCommonCat = 1 %}
  {% assign maxCounter = 0 %}
  <h5>Also Read</h5>
  <div class="row">

  {% for post in site.posts %}
    {% assign sametagCount = 0 %}
    {% assign sametag = " " %}

    {% for cat in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains cat %}
          {% assign sametagCount = sametagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{cat}}</span>{%endcapture%}
          {% assign sametag = sametag | append: tagmarkup %}
          {% assign images = post.content | split:" <img " %}
            {% for image in images %}
              {% if image contains 'src=' %}
                {% assign imageCode = image | split: "/>" | first %}

                {% break %}
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sametagCount >= minCommonCat%}

        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" {{imageCode}}>
              <a href={{post.url}} class="btn btn-white stretched-link">{{post.title}}</a>
            </div>
          </div>
        </div>

      {% assign maxCounter = maxCounter | plus: 1 %}
      {% if maxCounter >= maxRelatedPosts %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
</article>
{% if page.comments %}
  <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://gamer-15.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
