---
layout: default
comments: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}

      {% for category in categories %}
        <u>
          Category:</u>
        <em>{{category}}</em>
        {% unless forloop.last %}&nbsp;
        {% endunless %}
      {% endfor %}
    </div>
      {%- if page.author -%}
        •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
        </span>
      {%- endif -%}

    </p>
  </header>

   <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
<div>
  {% assign maxRelatedPosts = 4 %}
  {% assign minCommonCat = 1 %}
  {% assign maxCounter = 0 %}
  <h5>Also Read</h5>

  <ul>
  {% for post in site.posts %}
    {% assign sametagCount = 0 %}
    {% assign sametag = " " %}

    {% for cat in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains cat %}
          {% assign sametagCount = sametagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{cat}}</span>{%endcapture%}
          {% assign sametag = sametag | append: tagmarkup %}

        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sametagCount >= minCommonCat%}


        <li>
        <a href={{post.url}} class="btn btn-white">{{post.title}}</a>
        </li>



      {% assign maxCounter = maxCounter | plus: 1 %}
      {% if maxCounter >= maxRelatedPosts %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
</div>


</article>
{% include  share.html %}
<br>
{% if site.disqus.shortname %}
  {% include disqus_comments.html %}
{% endif %}